In [8]:
import pandas as pd
fuel_data = pd.read_csv(r'C:\Users\Dell\Desktop\fuel_ferc1.csv')
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [9]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [10]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()
fuel_data[['fuel_unit']] = fuel_data[['fuel_unit']].fillna(value='mcf')
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [11]:
fuel_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [12]:
fuel_data.kurt()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [13]:
fuel_data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [15]:
fuel_data.groupby('fuel_cost_per_unit_delivered').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_mmbtu
fuel_cost_per_unit_delivered,,,,,,,,,,
-874.937,f1_fuel_2008_12_177_1_1,177,2008,mexico c.t.,oil,bbl,811.0,5.754000,86.628,15.055
-488.054,f1_fuel_2007_12_177_2_4,177,2007,mexico c.t.,oil,bbl,2240.0,5.754000,77.605,13.487
-313.410,f1_fuel_2004_12_210_1_6,210,2004,sycamore,oil,bbl,588.0,5.712420,38.722,6.779
-174.670,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77.0,0.015500,-123.310,-3.978
-170.187,f1_fuel_2015_12_6_1_2,6,2015,philip sporn - apco,oil,bbl,2292.0,5.727204,123.751,21.608
...,...,...,...,...,...,...,...,...,...,...
1942979.000,f1_fuel_1997_12_9_0_14,9,1997,hope creek 1,nuclear,gramsU,52526.0,0.000066,39.660,0.560
2114508.000,f1_fuel_1996_12_9_0_14,9,1996,hope creek 1,nuclear,gramsU,58795.0,0.000065,35.964,0.095
2255688.000,f1_fuel_1997_12_9_0_11,9,1997,salem 1&2,nuclear,gramsU,36919.0,0.000056,61.100,1.087
7793482.000,f1_fuel_1996_12_9_0_8,9,1996,peach bt 2&3,nuclear,gramsU,211407.0,0.000065,36.865,0.145
7964521.000,f1_fuel_1997_12_9_0_8,9,1997,peach bt 2&3,nuclear,gramsU,210474.0,0.000065,37.847,0.578

In [16]:
fuel_data.groupby('fuel_cost_per_unit_burned').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_cost_per_unit_burned,,,,,,,,,,
-276.080,f1_fuel_2000_12_194_3_3,194,2000,nelson dewey unit 2,waste,ton,39.0,0.015500,-174.670,-8.906
-174.670,f1_fuel_2000_12_194_3_6,194,2000,nelson dewey u 1&2,waste,ton,116.0,0.015500,-174.670,-5.635
-123.310,f1_fuel_2000_12_194_2_15,194,2000,nelson dewey unit 1,waste,ton,77.0,0.015500,-174.670,-3.978
-119.040,f1_fuel_2003_12_281_1_4,281,2003,sixth street (cont),other,ton,1159.0,0.012731,-118.340,-5.750
-85.760,f1_fuel_1995_12_194_5_9,194,1995,rock river unit 1,waste,ton,6072.0,0.013457,-85.640,-3.186
...,...,...,...,...,...,...,...,...,...,...
65137.588,f1_fuel_2012_12_7_7_13,7,2012,palo verde 2,nuclear,kgU,465.0,0.066706,2958.417,0.976
69785.215,f1_fuel_2011_12_7_7_13,7,2011,palo verde 2,nuclear,kgU,467.0,0.066704,2834.457,1.046
80459.000,f1_fuel_2014_12_177_2_7,177,2014,howard bend c.t.,oil,bbl,76.0,5.984286,0.000,13.445
83538.000,f1_fuel_2011_12_132_1_2,132,2011,solway,oil,bbl,150.0,5.880000,137.172,14.207
139358.000,f1_fuel_2014_12_147_0_2,147,2014,san juan,oil,bbl,49418.0,6.172572,136410.000,22.577